
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body {
   
  font-family: Mukta, sans-serif;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  color: #4f546c;
  font-size: 0.9rem;
  background-color: #f9fbff;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    
    overflow-x: hidden;
  }
  
  .nav {
    width: 100vw;
    height: 100px;
    background-color: #ececec;
    box-shadow: 10px 10px 12px 0 rgba(0, 0, 0, 0.07);
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 3rem;
    list-style-type: none;
  }
.nav li.logo {
    margin-right: auto;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    color: dimgray;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3), -2px -2px 4px white;
  }
  .nav li:not(.logo) {
    margin: 0 1rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.1), -4px -4px 6px white;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    transition: color 0.2s ease-out, transform 0.2s ease-out;
    color: dimgray;
  }
  .nav li:not(.logo):hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1), -4px -4px 10px white;
  }
 .nav li:not(.logo):focus {
    outline: none;
    transform: scale(0.95);
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1), -4px -4px 10px white, 4px 4px 10px 0 rgba(0, 0, 0, 0.1) inset, -4px -4px 10px white inset;
  }
  .nav li:not(.logo):hover, .nav li:not(.logo):focus {
    color: #00AEAE;
    
  }

  .b{
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    border-radius: 10px;
    cursor: pointer;
    transition: color 0.2s ease-out, transform 0.2s ease-out;
    color: dimgray;
  }
 .b:hover,.b:focus{
  color: #00AEAE;
 }
/* BUTTON PANEL--------------------------------- */

 .btn-panel{
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  transition: all 300ms ease;
} 

 .panel{
  min-width: 100px;
  width: 100px;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 20px;
  animation: showCont 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  transform: translateY(50px);
}


.action {
  height: 70px;
  width: 70px;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 0.5rem 1.5rem;
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.1), -4px -4px 6px white;
  border-radius: 40px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  transition: color 0.2s ease-out, transform 0.2s ease-out;
  color: dimgray;
}
.action:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1), -4px -4px 10px white;
}
.action:focus {
  outline: none;
  transform: scale(0.95);
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1), -4px -4px 10px white, 4px 4px 10px 0 rgba(0, 0, 0, 0.1) inset, -4px -4px 10px white inset;
}
.action:hover, .action:focus {
  color: #00AEAE;
  ;
}
/* TABLE------------------------------------ */
.info{
    font-family: Mukta, sans-serif;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    color: #4f546c;
    font-size: 0.9rem;
    background-color: #ececec;
}
table {
  border-collapse: collapse;
  box-shadow: 0 5px 10px #e1e5ee;
  background-color: white;
  text-align: left;
  overflow: hidden;
}
table thead {
  box-shadow: 0 5px 10px #e1e5ee;
  background: rgba(199, 251, 251, 0.9);
}
table th {
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.7rem;
  font-weight: 900;
}
table td {
  padding: 1rem 2rem;
}

table .status {
  border-radius: 0.2rem;
  background-color: red;
  padding: 0.2rem 1rem;
  text-align: center;
}


table .status-unpaid {
  background-color: #ffcdd2;
  color: #c62828;
}
table .amount {
  text-align: right;
}
table tr:nth-child(even) {
  background-color: #1a44ac;
}

.c-out{
    border-radius: 0.2rem;
    padding: .6rem 1rem;
    text-align: center;
    background-color: #cdf2ff;
  color: #28a9c6;
  border: none;
}